body {
    overflow: hidden;
    background-image: url("img/hero.jpeg");
    background-repeat: no-repeat;       
    background-size: cover;             
    background-position: center center; 
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.recipe_info {
    position: relative;
    background-color: rgba(247, 244, 244, 0.943);
    width: 85%; 
    display: flex;
    margin: 150px auto 0;
    border-radius: 25px;
    border: 10px solid #b9b7b709;
    overflow: hidden;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 25px;
    z-index: 2;
}

.recipe_img {
    flex: 1;
}

.recipe_img img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe_text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.recipe_text h1 {
    font-size: 48px;
    margin-bottom: 60px;
    text-align: center; 
    color: rgb(43, 41, 41)
}

.recipe_columns {
    display: flex;
    gap: 60px;
    
}

.recipe_columns > div {
    flex: 1;
    background-color: rgba(249, 249, 249, 0.582);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    
}

.recipe_text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #313131;
}

.instructions ol,
.ingredients ul {
    font-size: 20px;
    line-height: 2;
    padding-left: 20px;
    margin: 0;
    color: #555;
}

.ingredients {
    order: 1;
}

.instructions {
    order: 2; 
}
