*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    background: white;   
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: #222121;
    color: white;
    display: flex;
    align-items: center;
    z-index: 100;
}

.container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 28px;
}

.hero{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 600px;
    background: url("img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 180px 0;
    margin-bottom: 20px;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero .hero_section {
    position: relative;
    z-index: 2;
}

.hero h2{
   font-size: 50px;
   margin-bottom: 10px; 
   text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.hero p{
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.search_box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid gray;
}

.search_box button{
    padding: 10px 20px;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    background: gray;
    color: white;
    cursor: pointer;
}

.search_box button:hover {
    background: #444;
}

.recipes{
    padding: 50px 0;
    scroll-margin-top: 100px;
}

.recipes h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.recipe_section{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
}

.recipe_card{
    background: white;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe_card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.recipe_card h2{
    font-size: 22px;
    padding: 20px;
    text-align: center;
}

.recipe_card p{
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.recipe_card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: white;
    padding: 15px 0;
    cursor: pointer;
}

.recipe_card a:hover {
    background: #555;
}

.about {
    background: #f9f9f9;
    padding: 30px 0;
}

.about_section {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.about h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.about p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact {
    background: #f9f9f9;
    padding: 30px 0;
}

.contact_section {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.contact h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.contact p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

